<div
	class="btn-group"
	role="group"
	aria-label="Basic checkbox toggle button group"
>
	<input
		type="checkbox"
		class="btn-check"
		id="${2:btncheck1}"
		autocomplete="off"
		checked
	/>
	<label
		class="btn ${1|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark|}"
		for="${2:btncheck1}"
		>${3:Checkbox 1}</label
	>

	<input
		type="checkbox"
		class="btn-check"
		id="${4:btncheck2}"
		autocomplete="off"
	/>
	<label
		class="btn ${1|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark|}"
		for="${4:btncheck2}"
		>${5:Checkbox 2}</label
	>

	<input
		type="checkbox"
		class="btn-check"
		id="${6:btncheck3}"
		autocomplete="off"
	/>
	<label
		class="btn ${1|btn-outline-primary,btn-outline-secondary,btn-outline-success,btn-outline-danger,btn-outline-warning,btn-outline-info,btn-outline-light,btn-outline-dark|}"
		for="${6:btncheck3}"
		>${7:Checkbox 3}</label
	>
</div>
