<!-- Flexbox container for aligning the toasts -->
<div
	aria-live="polite"
	aria-atomic="true"
	class="d-flex ${1|justify-content-center,justify-content-start,justify-content-end,justify-content-between|} ${2|align-items-center,align-items-start,align-items-end|}"
	style="min-height: 200px"
>
	<!-- Then put toasts within -->
	<div class="toast" role="alert" aria-live="assertive" aria-atomic="true">
		<div class="toast-header">
			<img
				src="${3:https://via.placeholder.com/20}"
				class="rounded me-2"
				alt="${4:Bootstrap}"
			/>
			<strong class="me-auto">${4:Bootstrap}</strong>
			<small>${5:11 mins ago}</small>
			<button
				type="button"
				class="btn-close"
				data-bs-dismiss="toast"
				aria-label="Close"
			></button>
		</div>
		<div class="toast-body">
			${6:Hello, world! This is a toast message.}
		</div>
	</div>
</div>

<script>
	const toastEl = document.querySelector(".toast");
	const toast = new bootstrap.Toast(toastEl);
	toast.show();
</script>
